body{
    background-color: dimgray;
}

header {
    height:auto;

}

main {
    display:flex;
    flex-direction: column;
    width: 100%;
}

section{
    
}

footer{
    height: 40px;
    background-color: blueviolet;
}